*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: gray;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 20px;
    color: #000;
}

.fas {
    color: #000;
}